.event-card {
  min-width: 300px;
  background: #def4f4;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 10px;
}

.event-card:hover {
  transform: translateY(-4px);
}

.dark .event-card {
  background: #ffffff0d;
  border-color: #2d3748;
  border: 1px solid #333;
}

.event-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 16px 16px 0 0; 
}

.event-image img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 16px 16px 0 0; 
  transition: transform 0.3s;
}

.event-card:hover .event-image img {
  transform: scale(1.05);
}

.event-content {
  padding: 1rem;
}

.event-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.2rem;
}

.dark .event-title {
  color: #dfbd27;
}

.status-container {
  display: list-item;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.event-status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  font-size: 0.6rem;
  border: 1px solid;
  font-weight: 500;
}

.status-live-now {
  color: #000000;
  background-color: #22c55e;
  border: #22c55e;
}

.status-coming-soon {
  color: #000000;
  background-color: #d8c621;
  border: #d8c621;
}

.status-ended {
  color: #000000 ;
  background-color: #b3b9bd;
  border: #b3b9bd;
}

.event-info {
  display: list-item;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.info-item {
  display: flex;
  align-items: center;
  color: #3b82f6;
  flex-shrink: 0;
  gap: 0.5rem;
}

.info-item span{
  font-weight: 600;
  font-size: 0.8rem;
}

.info-item i {
  color: #03009d;
}

.dark .info-item {
  color: #9ed6de;
}

.dark .info-item i {
  color: #9ed6de;
}


.event-description {
  font-size: 0.8rem;
  color: #000000;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.dark .event-description {
  color: #b5bdbe;
}

.event-location{
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
}

.event-location span{
  margin-left: 10px;
  color: #3b82f6;
}

.event-location span:hover{
  color: #1e40af;
  text-decoration: underline;
}

.event-location i{
  margin-left: 2px;
  color: #03009d;
}

.dark .event-location span{
  color: #9ed6de;
}

.dark .event-location span:hover{
  color: #54cbdd;
  text-decoration: underline;
}

.dark .event-location i{
  margin-left: 2px;
  color: #9ed6de;
}

.countdown-display {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.25rem;
  background: transparent;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 45px;
}

.countdown-value {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.dark .countdown-value {
  color: #dfbd27;
}

.countdown-label {
  font-size: 0.6rem;
  color: #666;
  text-transform: uppercase;
}

.dark .countdown-label {
  color: #888;
}

.event-card.ended .countdown-display {
  display: none;
}