.event-page {
  padding-bottom: 5rem;
  margin-top: 1rem;
  min-height: 100vh;
  background: linear-gradient(180deg, #093f56 0%, #e3d9a2 100%);
}

.dark .event-page {
  background: #1c1c1c;
}

.category-title {
  color: #055972; 
  background-color: #c6c4a3; 
  padding: 1rem 1rem;
  margin: 1rem 0.3rem 1rem 0.3rem;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-size: 1.5rem; 
  font-weight: bold; 
  text-align: center;
}

.dark .category-title {
  color: #dfbd27;
  background-color: #232424;
}

.event-card {
  min-width: 300px;
  max-width: 350px; 
  width: 100%;      
  margin: 10px auto; 
}


.react-multi-carousel-item {
  display: flex;
  justify-content: center;
  padding: 0 10px;  
}

.react-multiple-carousel__arrow {
  z-index: 1;
}

.events-wrapper{
  padding: 1.5rem;
}

@media (max-width: 780px) {
  .event-page {
    padding-bottom: 1rem;
    margin-top: 1.8rem;
  }

  .category-title {
    padding: 1rem 1rem;
    margin: 0.5rem 0.3rem 0.2rem 0.3rem;
    font-size: 1rem; 
    text-align: center;
  }
  .events-wrapper{
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  }


}
