
.home-page{
  background: linear-gradient(180deg, #003f56 0%, #e3d9a2 100%);
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.dark .home-page{
  background: #1c1c1c;
}

.about-penang {
  background-color: #c6c4a3;
  padding: 1rem 5rem 2rem 5rem;
  text-align: center;
  color: #222222;
  align-items: center;
  margin: 1rem 2rem 2rem 2rem; 
  border-radius: 15px;
}

.dark .about-penang{
  background-color: #232424;
  color: #bebeb9;
}

.about-penang h2{
  font-size: 2rem;
  color: #055972;
  text-align: center;
  margin-bottom: 1rem;
}

.dark .about-penang h2{
  color: #dfbd27;
}

.about-penang p {
  font-size: 1rem;
  line-height: 1.6;
}

.home-card {
  margin: 10px; 
}

.react-multi-carousel-item {
  display: flex;
  justify-content: center;
}

.rec-penang{
  font-size: 2rem;
  color: #055972;
  text-align: center;
  padding: 1rem 0rem 0rem 0rem;
  margin: 1rem auto; 
}

.dark .rec-penang{
  color: #dfbd27;
}

.carousel-container {
  padding: 0rem 1.5rem 3rem 1.5rem;
  background-color: #c6c4a3;
  margin: 1rem 2rem 0.5rem 2rem; 
  border-radius: 15px;
}

.dark .carousel-container{
  background-color: #232424;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 2.5rem;
  }

  .home-subtitle {
    font-size: 0.8rem;
  }

  .about-penang h2 {
    font-size: 1.5rem;
  }

  .about-penang p {
    font-size: 0.8rem;
  }

  .rec-penang {
    font-size: 1.5rem; 
    margin: 1.5rem auto; 
  }

  .carousel-container {
    padding: 0 5px; 
  }
}

@media (max-width: 480px) {
  .rec-penang {
    font-size: 1.2rem; 
    margin: 1rem auto; 
  }

  .carousel-container {
    padding: 0; 
  }
}

.home-events {
  background-color: #efe5e5;
  padding: 2rem 10px; 
  text-align: center;
  color: #333;
  max-width: 1200px; 
  margin: 2rem auto; 
}

.home-events h2 {
  font-size: 2rem;
  color: #007bff; 
  text-align: center;
  margin-bottom: 1rem; 
}

.home-events p {
  font-size: 1rem;
  line-height: 1.6; 
  margin-top: 1rem; 
}

.learn-more-btn {
  display: inline-block;
  background-color: #007bff; 
  color: #fff; 
  padding: 0.8rem 1.5rem; 
  font-size: 1rem; 
  font-weight: bold;
  border: none;
  border-radius: 5px; 
  text-align: center;
  cursor: pointer; 
  margin-top: 1.5rem; 
  text-decoration: none;
  transition: background-color 0.3s ease; 
}

.learn-more-btn:hover {
  background-color: #0056b3; 
}

.home-events-preview {
  background-color: #ffffff;
  padding: 2rem 2rem;
  text-align: center;
  color: #333;
  align-items: center;
  margin: 2rem 2rem;
}

.home-events-preview h2 {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 1rem;
}

.events-preview-title {
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
}

.events-preview-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.learn-more-btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}