
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dfbd27;
  padding: 15px 1%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
  width: 95%;
  height:  80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}

.navbar a {
  text-decoration: none;
}

.title{
  font-size: 28px;
  font-weight: 700;
  margin-left: 60px;
  color: #000;
  cursor: pointer;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i{
  padding-right: 10px;
}

.nav-links:hover{
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.toggle-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.toggle-icon:hover {
 transform: rotate(30deg);
}

.dark .navbar{
  background: #000;
  color :#ffffff;
}

 .dark .title{
  color: #fff;
 }

 .dark .nav-links{
  background: #000;
  color :#ffffff;
 }

 .dark .nav-links:hover{
  background-color: hsl(0, 0%, 100%);
  color: #000000;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.menu-icons{
  display: none;
}

.toggle-icon-mobile{
  display: none;
}

@media screen and (max-width: 920px) {
  .navbar{
    z-index: 99;
  }

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #dfbd27;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: center;
    padding: 80px 0 30px 0;
    margin: 0;
    border-radius: 13px;
  }

  .title{
    margin-left: 20px;
  }

  .nav-menu.active{
    left: 0;
    opacity: 1;
    z-index: -1;
  }

  .nav-links{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-size: 1.2rem;
    padding: 2 rem 0;
    text-align: center;
  }

  .nav-links:hover{
    background: #000000;
    transition: none;
  }

  .menu-icons{
    display: block;
    cursor: pointer;
  }

  .menu-icons i{
    font-size:  1.3rem;
    margin-right: 1.4rem;
    color: #000000;
  }

  .toggle-icon {
    display: none;
  }

  .toggle-icon-mobile{
    display: block;
    width: 30px;
    margin-bottom: 4px;
    cursor: pointer;
  }

  .menu-mobile{
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .dark .nav-menu {
    background: #000;
  }

  .dark .nav-links:hover {
      background: #fff;
      color: #000;
    }

  .dark .menu-icons i{
    color: #fffcfc;
  }
}