.footer{
    padding: 1.8rem 4rem;
    background: #76b0d6;
    color: rgb(0, 0, 0);
}

.top{
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top i{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h4{
    font-size: 1.3 rem;
    padding: 1 rem 0 .8rem 0;
}

.bottom a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 0.4 rem;
    font-size: 1.1 rem;
    cursor: pointer;
    position: relative;
    width: fit-content;
}

.bottom a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #000;
    left: 0;
    bottom: 3px;
  }
  
  .bottom a:hover::after {
    width: 100%;
  }

  .dark .footer {
    background: #090909;
    color: #3bbada;
  }
  
  .dark .footer i {
    color: #3bbada;
  }
  
  .dark .bottom a {
    color: #3bbada;
  }
  
  .dark .bottom a::after {
    background: #3bbada;
  }

@media screen and (max-width : 800px){
    .footer{
        padding: 0.8rem 2rem;
    }

    .footer i{
        margin: 1rem 1rem 0 0;
    }

    .bottom div{
        width: 50%;
        margin-bottom: 8px;
    }
}
